<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cc.music">

  <application>
    <activity
        android:name=".ui.IntentActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--https://blog.csdn.net/qq_40909351/article/details/106726204-->
    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        android:exported="false"
        tools:node="merge">
      <meta-data
          android:name="com.cc.music.startup.MusicInit"
          android:value="androidx.startup"/>
    </provider>
    <!--android:multiprocess应该理解为：是否允许在调用者的进程里实例化-->
    <!--priority 的取值范围是-1000至1000 -->
    <!--android:exported是否支持其它应用调用当前组件-->
    <service
        android:name=".service.MusicPlayService"
        android:enabled="true"
        android:exported="true"
        android:multiprocess="true"
        android:priority="1000"
        android:process=":musicService"
        tools:ignore="ExportedService"/>
  </application>
</manifest>