<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cc.base2021">
  <!--SD卡读写权限-->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
  <!--网络访问权限-->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!--手机信息权限-->
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <!--网络状态判断权限-->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!--地理位置权限-->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application
      android:name=".app.MyApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup">
    <!--启动页-->
    <activity
        android:name=".component.splash.SplashActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/SplashTheme"
        android:windowSoftInputMode="adjustPan|stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <!--主页-->
    <activity
        android:name=".component.main.MainActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--引导页-->
    <activity
        android:name=".component.guide.GuideActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--登录页-->
    <activity
        android:name=".component.login.LoginActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--WEB页-->
    <activity
        android:name=".component.web.WebActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--https://blog.csdn.net/qq_40909351/article/details/106726204-->
    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        android:exported="false"
        tools:node="merge">
      <meta-data
          android:name="com.cc.base2021.startup.MMkvInit"
          android:value="androidx.startup"/>
      <meta-data
          android:name="com.cc.base2021.startup.SwipeInit"
          android:value="androidx.startup"/>
    </provider>
  </application>

</manifest>